[Desktop Entry]
Type=Application
Version=1.0
Name=Install APT
GenericName=FRA-UAS Install APT
Exec=/usr/local/bin/install-apt.bash
Comment=FRA-UAS — Installer for APT Live
Keywords=bash;system;install;debian;installer
Icon=preferences-system
Terminal=true
Categories=Qt;System;
StartupWMClass=Terminal
StartupNotify=True
