[Desktop Entry]
Type=Application
Version=1.0
Name=FRA-UAS Install NET
GenericName=FRA-UAS Install NET
Exec=/usr/local/bin/install-networking.bash
Comment=FRA-UAS — Installer for Networking Live
Keywords=bash;system;install;debian;installer
Icon=preferences-system
Terminal=true
Categories=Qt;System;
StartupWMClass=Terminal
StartupNotify=True
