[Desktop Entry]
Type=Application
Version=0.0.1
Name=Install all installers
GenericName=UMI Install ALL
Exec=/usr/local/bin/install-all.bash
Comment=UMI — Live Installer for Debian
Keywords=bash;system;install;debian;installer
Icon=preferences-system
Terminal=true
Categories=Qt;System;
StartupWMClass=Terminal
StartupNotify=True
